Source: pwgrep
Section: utils
Priority: optional
Maintainer: Paul Buetow <paul@buetow.org>
Build-Depends: 
Standards-Version: 3.9.2
Homepage: https://pwgrep.buetow.org
Vcs-Git: https://github.com/rantanplan//pwgrep.git
Vcs-Browser: https://github.com/rantanplan/pwgrep
Vcs-Browser: https://github.com/rantanplan/pwgrep

Package: pwgrep
Architecture: all
Depends: vim, git, gawk
Description: Simple password manager
 This is just a simple password manager for the console programmed in bash 
 and some awk using Vim and GnuPG and Git.
